body{
    background-image: url('assets/top-hdq-pizza-images-wallpapers-nice-coe51-collection.jpg');
    background-repeat: repeat;
    /*  Crusty goodness  */
}
div{
    background-color: white;
}

nav, nav-item .active{
    background-color: yellow;
    color: black;
}

.groupContainer{
    padding: 1px;
    border: red 1px dotted;
}

.hidden{
    display:none;
}